.container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.results-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-results-container {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.total {
    font-size: 2.5rem;
}

.secondary-results-container {
    width: 60%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary {
    font-size: 2rem;
}

.logout-div {
    text-align: end;
    margin-inline-end: 15%;
}


.logout {
    color: #1DB954;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: none;
}