html, body {
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	box-sizing: border-box;
}

h1 {
    color: #ffb6c1;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 3em;
}
